In [10]:
import pandas as pd
df = pd.read_csv('blood_donation.csv')
df =df.drop("Unnamed: 0", axis=1)
name=["venky"]
age=[18]
phone=[7997766183]
blood=['O+']
date=["dd-mm-yyyy"]
df1 ={
    'Name':name,
    'Age': age,
    "Phone":phone,
    'Blood Group':blood,
    'Date':date
}
df1 = pd.DataFrame(df1)
def showdata(n,enterd):
    if n==1:
        print(df[df["Blood Group"]==enterd])
    elif n==2:
        print(df[df["Name"]==enterd])
    elif n==3:
        print(df[df["Age"]==enterd])
    elif n==4:
        print(df[df["Date"]==enterd])
    else:
        print('please type again correctly')
def admin(Name,Age,Phone,Blood):
    name.append(Name)
    age.append(Age)
    phone.append(Phone)
    blood.append(Blood)
df1

    Name  Age       Phone Blood Group        Date
0  venky   18  7997766183          O+  dd-mm-yyyy

In [11]:
def save():
    df.to_csv("blood_donation.csv")

In [12]:
df

Empty DataFrame
Columns: [Name, Age, Phone, Blood Group, Date]
Index: []

In [13]:
df1

    Name  Age       Phone Blood Group        Date
0  venky   18  7997766183          O+  dd-mm-yyyy